Table{
  width: 400px;
  height: 400px;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

Table td{
  padding: 0;
  margin: 0;
  border: 3px solid #007aff;
  width: 100px;
  height: 100px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

Table td:hover{
  background-color: #5f998b73;
}

Table .p-3{
  padding: 25px;
}

Table .empty{
  background-color: white;
}

Table .selected{
  background-color: #007aff;
  color: white;
}

.Table .hover{
  background-color: #5f998b;
}

Table .row1 .col1,
Table .row1 .col2{
  border-top: none;
}

.Table .row3 .col1,
.Table .row3 .col2{
  border-bottom: none;
}

Table .col1,
Table .col3{
  border-left: none;
}

Table .col2,
Table .col4{
  border-right: none;
} 

Table .solution{
  font-size: 16px;
  padding: 10px;
  text-align: center;
}